body {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #ECF3FF;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #1877F2;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    height: 30px;
    grid-column-start: 1;
    grid-column-end: -1;
}

.fakebook-logo {
    background-color: #1877F2;
}

.status-input {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns:5fr 1fr;
    grid-column-start: 2;
    margin: 5px;
}
.create-status-text {
    grid-column-start: 1;
    grid-column-end: 3;
}

#statusInputField {
    width: 100%;
}

#newsFeed {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2 ;
}

.card {
    border: 4px solid teal;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
}

.post-card {
    min-height: 2rem;
    margin: 3px;

}
